nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
nav li {
    float: left;
}
  
nav li p {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: #000;
    margin: 0;
}
  
/* Change the link color to #111 (black) on hover */
nav li p:hover {
    background-color: rgba(16, 15, 15, 0.1);
}