body{
    margin: 0px;
    padding: 0px;
}
.content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin : 0px;
    margin-top: 10vh;
    padding: 0px;
    height: 80vh;
}
.text {
    width: 28vw;
    height: 80vh;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}
.tb{
    width: 28vw;
    height: 80vh;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}
.bild{
    width: 28vw;
    height: 80vh;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
}